body {
    background: lightgray;
}

.calculadora {
    width: 260px;
    margin: 50px auto;
    background: #ff5c5c;
    padding: 15px;
    border-radius: 15px;
}

#display {
    height: 60px;
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}